<form>
    <div class="form-group">
        <input class="form-control" ng-model="contact.firstName" placeholder="First Name"/>
    </div>
    <div class="form-group">
        <input class="form-control" ng-model="contact.lastName" placeholder="Last Name"/>
    </div>
    <div class="form-group">
        <input class="form-control" ng-model="contact.phone" placeholder="Phone Number"/>
    </div>
    <div class="form-group">
        <input class="form-control" ng-model="contact.email" placeholder="Email Address"/>
    </div>
    <button class="btn btn-default" ng-click="saveNewContact()">Save</button>

</form>